// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color:#f2f2f2;
	font-family: 'Courier'
}

#container {
	width:600px;
	margin:auto;
	background-color: #fff;
	padding:20px;

	.input, .required {
		width: 560px;
	}
}


nav {
	display:block;
	ul {
		list-style-type: none;
		display: block;
		border-bottom: 3px solid #f2f2f2;
		overflow: hidden;
	}
	li {
		float:left;
		display:block;
		margin:10px;
		padding:10px;
	}
	
}
a {
	color:red;
	text-decoration: none;		
}
a:hover {
	background-color: red;
	color: white;
}

.success, .error {
	padding:10px;
	margin:10px 0;
	display:block;
	color: white;
}

.success {
	background-color: green;
}
.error {
	background-color: red;
}

.product {
	border-bottom:3px solid #f2f2f2;
	padding:10px 0;
}
